{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://websecurityscanner.googleapis.com/"
        }
    ],
    "info": {
        "contact": {
            "name": "Google",
            "url": "https://google.com"
        },
        "description": "Scans your Compute and App Engine apps for common web vulnerabilities.",
        "title": "Web Security Scanner",
        "version": "v1alpha",
        "x-apiClientRegistration": {
            "url": "https://console.developers.google.com"
        },
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png"
        },
        "x-origin": [
            {
                "converter": {
                    "url": "https://github.com/lucybot/api-spec-converter",
                    "version": "2.7.31"
                },
                "format": "google",
                "url": "https://websecurityscanner.googleapis.com/$discovery/rest?version=v1alpha",
                "version": "v1"
            }
        ],
        "x-preferred": true,
        "x-providerName": "googleapis.com",
        "x-serviceName": "websecurityscanner"
    },
    "externalDocs": {
        "url": "https://cloud.google.com/security-scanner/"
    },
    "tags": [
        {
            "name": "projects"
        }
    ],
    "paths": {
        "/v1alpha/{name}": {
            "delete": {
                "description": "Deletes an existing ScanConfig and its child resources.",
                "operationId": "websecurityscanner.projects.scanConfigs.delete",
                "parameters": [
                    {
                        "description": "Required.\nThe resource name of the ScanConfig to be deleted. The name follows the\nformat of 'projects/{projectId}/scanConfigs/{scanConfigId}'.",
                        "in": "path",
                        "name": "name",
                        "required": true,
                        "x-reservedExpansion": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    }
                ],
                "tags": [
                    "projects"
                ]
            },
            "get": {
                "description": "Gets a Finding.",
                "operationId": "websecurityscanner.projects.scanConfigs.scanRuns.findings.get",
                "parameters": [
                    {
                        "description": "Required.\nThe resource name of the Finding to be returned. The name follows the\nformat of\n'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}/findings/{findingId}'.",
                        "in": "path",
                        "name": "name",
                        "required": true,
                        "x-reservedExpansion": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "A Finding resource represents a vulnerability instance identified during a\nScanRun.",
                                    "properties": {
                                        "body": {
                                            "description": "Output only.\nThe body of the request that triggered the vulnerability.",
                                            "type": "string"
                                        },
                                        "description": {
                                            "description": "Output only.\nThe description of the vulnerability.",
                                            "type": "string"
                                        },
                                        "finalUrl": {
                                            "description": "Output only.\nThe URL where the browser lands when the vulnerability is detected.",
                                            "type": "string"
                                        },
                                        "findingType": {
                                            "description": "Output only.\nThe type of the Finding.",
                                            "enum": [
                                                "FINDING_TYPE_UNSPECIFIED",
                                                "MIXED_CONTENT",
                                                "OUTDATED_LIBRARY",
                                                "ROSETTA_FLASH",
                                                "XSS_CALLBACK",
                                                "XSS_ERROR",
                                                "CLEAR_TEXT_PASSWORD",
                                                "INVALID_CONTENT_TYPE",
                                                "XSS_ANGULAR_CALLBACK",
                                                "INVALID_HEADER",
                                                "MISSPELLED_SECURITY_HEADER_NAME",
                                                "MISMATCHING_SECURITY_HEADER_VALUES"
                                            ],
                                            "type": "string"
                                        },
                                        "frameUrl": {
                                            "description": "Output only.\nIf the vulnerability was originated from nested IFrame, the immediate\nparent IFrame is reported.",
                                            "type": "string"
                                        },
                                        "fuzzedUrl": {
                                            "description": "Output only.\nThe URL produced by the server-side fuzzer and used in the request that\ntriggered the vulnerability.",
                                            "type": "string"
                                        },
                                        "httpMethod": {
                                            "description": "Output only.\nThe http method of the request that triggered the vulnerability, in\nuppercase.",
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "Output only.\nThe resource name of the Finding. The name follows the format of\n'projects/{projectId}/scanConfigs/{scanConfigId}/scanruns/{scanRunId}/findings/{findingId}'.\nThe finding IDs are generated by the system.",
                                            "type": "string"
                                        },
                                        "outdatedLibrary": {
                                            "description": "Output only.\nAn addon containing information about outdated libraries.",
                                            "properties": {
                                                "learnMoreUrls": {
                                                    "description": "URLs to learn more information about the vulnerabilities in the library.",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "libraryName": {
                                                    "description": "The name of the outdated library.",
                                                    "type": "string"
                                                },
                                                "version": {
                                                    "description": "The version number.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "reproductionUrl": {
                                            "description": "Output only.\nThe URL containing human-readable payload that user can leverage to\nreproduce the vulnerability.",
                                            "type": "string"
                                        },
                                        "trackingId": {
                                            "description": "Output only.\nThe tracking ID uniquely identifies a vulnerability instance across\nmultiple ScanRuns.",
                                            "type": "string"
                                        },
                                        "violatingResource": {
                                            "description": "Output only.\nAn addon containing detailed information regarding any resource causing the\nvulnerability such as JavaScript sources, image, audio files, etc.",
                                            "properties": {
                                                "contentType": {
                                                    "description": "The MIME type of this resource.",
                                                    "type": "string"
                                                },
                                                "resourceUrl": {
                                                    "description": "URL of this violating resource.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "vulnerableHeaders": {
                                            "description": "Output only.\nAn addon containing information about vulnerable or missing HTTP headers.",
                                            "properties": {
                                                "headers": {
                                                    "description": "List of vulnerable headers.",
                                                    "items": {
                                                        "description": "Describes a HTTP Header.",
                                                        "properties": {
                                                            "name": {
                                                                "description": "Header name.",
                                                                "type": "string"
                                                            },
                                                            "value": {
                                                                "description": "Header value.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "missingHeaders": {
                                                    "description": "List of missing headers.",
                                                    "items": {
                                                        "description": "Describes a HTTP Header.",
                                                        "properties": {
                                                            "name": {
                                                                "description": "Header name.",
                                                                "type": "string"
                                                            },
                                                            "value": {
                                                                "description": "Header value.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "vulnerableParameters": {
                                            "description": "Output only.\nAn addon containing information about request parameters which were found\nto be vulnerable.",
                                            "properties": {
                                                "parameterNames": {
                                                    "description": "The vulnerable parameter names.",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "xss": {
                                            "description": "Output only.\nAn addon containing information reported for an XSS, if any.",
                                            "properties": {
                                                "errorMessage": {
                                                    "description": "An error message generated by a javascript breakage.",
                                                    "type": "string"
                                                },
                                                "stackTraces": {
                                                    "description": "Stack traces leading to the point where the XSS occurred.",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    }
                ],
                "tags": [
                    "projects"
                ]
            },
            "parameters": [
                {
                    "description": "V1 error format.",
                    "in": "query",
                    "name": "$.xgafv",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "1",
                            "2"
                        ]
                    }
                },
                {
                    "description": "OAuth access token.",
                    "in": "query",
                    "name": "access_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Data format for response.",
                    "in": "query",
                    "name": "alt",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "json",
                            "media",
                            "proto"
                        ],
                        "default": "json"
                    }
                },
                {
                    "description": "JSONP",
                    "in": "query",
                    "name": "callback",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Selector specifying which fields to include in a partial response.",
                    "in": "query",
                    "name": "fields",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
                    "in": "query",
                    "name": "key",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "OAuth 2.0 token for the current user.",
                    "in": "query",
                    "name": "oauth_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Returns response with indentations and line breaks.",
                    "in": "query",
                    "name": "prettyPrint",
                    "schema": {
                        "type": "boolean",
                        "default": true
                    }
                },
                {
                    "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
                    "in": "query",
                    "name": "quotaUser",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
                    "in": "query",
                    "name": "uploadType",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
                    "in": "query",
                    "name": "upload_protocol",
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "patch": {
                "description": "Updates a ScanConfig. This method support partial update of a ScanConfig.",
                "operationId": "websecurityscanner.projects.scanConfigs.patch",
                "parameters": [
                    {
                        "description": "The resource name of the ScanConfig. The name follows the format of\n'projects/{projectId}/scanConfigs/{scanConfigId}'. The ScanConfig IDs are\ngenerated by the system.",
                        "in": "path",
                        "name": "name",
                        "required": true,
                        "x-reservedExpansion": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Required.\nThe update mask applies to the resource. For the `FieldMask` definition,\nsee\nhttps://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                        "in": "query",
                        "name": "updateMask",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "A ScanConfig resource contains the configurations to launch a scan.\nnext id: 12",
                                    "properties": {
                                        "authentication": {
                                            "description": "The authentication configuration. If specified, service will use the\nauthentication configuration during scanning.",
                                            "properties": {
                                                "customAccount": {
                                                    "description": "Authentication using a custom account.",
                                                    "properties": {
                                                        "loginUrl": {
                                                            "description": "Required.\nThe login form URL of the website.",
                                                            "type": "string"
                                                        },
                                                        "password": {
                                                            "description": "Input only.\nRequired.\nThe password of the custom account. The credential is stored encrypted\nand not returned in any response nor included in audit logs.",
                                                            "type": "string"
                                                        },
                                                        "username": {
                                                            "description": "Required.\nThe user name of the custom account.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "googleAccount": {
                                                    "description": "Authentication using a Google account.",
                                                    "properties": {
                                                        "password": {
                                                            "description": "Input only.\nRequired.\nThe password of the Google account. The credential is stored encrypted\nand not returned in any response nor included in audit logs.",
                                                            "type": "string"
                                                        },
                                                        "username": {
                                                            "description": "Required.\nThe user name of the Google account.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "blacklistPatterns": {
                                            "description": "The blacklist URL patterns as described in\nhttps://cloud.google.com/security-scanner/docs/excluded-urls",
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "displayName": {
                                            "description": "Required.\nThe user provided display name of the ScanConfig.",
                                            "type": "string"
                                        },
                                        "latestRun": {
                                            "description": "Latest ScanRun if available.",
                                            "properties": {
                                                "endTime": {
                                                    "description": "Output only.\nThe time at which the ScanRun reached termination state - that the ScanRun\nis either finished or stopped by user.",
                                                    "format": "google-datetime",
                                                    "type": "string"
                                                },
                                                "executionState": {
                                                    "description": "Output only.\nThe execution state of the ScanRun.",
                                                    "enum": [
                                                        "EXECUTION_STATE_UNSPECIFIED",
                                                        "QUEUED",
                                                        "SCANNING",
                                                        "FINISHED"
                                                    ],
                                                    "type": "string"
                                                },
                                                "hasVulnerabilities": {
                                                    "description": "Output only.\nWhether the scan run has found any vulnerabilities.",
                                                    "type": "boolean"
                                                },
                                                "name": {
                                                    "description": "Output only.\nThe resource name of the ScanRun. The name follows the format of\n'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'.\nThe ScanRun IDs are generated by the system.",
                                                    "type": "string"
                                                },
                                                "progressPercent": {
                                                    "description": "Output only.\nThe percentage of total completion ranging from 0 to 100.\nIf the scan is in queue, the value is 0.\nIf the scan is running, the value ranges from 0 to 100.\nIf the scan is finished, the value is 100.",
                                                    "format": "int32",
                                                    "type": "integer"
                                                },
                                                "resultState": {
                                                    "description": "Output only.\nThe result state of the ScanRun. This field is only available after the\nexecution state reaches \"FINISHED\".",
                                                    "enum": [
                                                        "RESULT_STATE_UNSPECIFIED",
                                                        "SUCCESS",
                                                        "ERROR",
                                                        "KILLED"
                                                    ],
                                                    "type": "string"
                                                },
                                                "startTime": {
                                                    "description": "Output only.\nThe time at which the ScanRun started.",
                                                    "format": "google-datetime",
                                                    "type": "string"
                                                },
                                                "urlsCrawledCount": {
                                                    "description": "Output only.\nThe number of URLs crawled during this ScanRun. If the scan is in progress,\nthe value represents the number of URLs crawled up to now.",
                                                    "format": "int64",
                                                    "type": "string"
                                                },
                                                "urlsTestedCount": {
                                                    "description": "Output only.\nThe number of URLs tested during this ScanRun. If the scan is in progress,\nthe value represents the number of URLs tested up to now. The number of\nURLs tested is usually larger than the number URLS crawled because\ntypically a crawled URL is tested with multiple test payloads.",
                                                    "format": "int64",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "maxQps": {
                                            "description": "The maximum QPS during scanning. A valid value ranges from 5 to 20\ninclusively. If the field is unspecified or its value is set 0, server will\ndefault to 15. Other values outside of [5, 20] range will be rejected with\nINVALID_ARGUMENT error.",
                                            "format": "int32",
                                            "type": "integer"
                                        },
                                        "name": {
                                            "description": "The resource name of the ScanConfig. The name follows the format of\n'projects/{projectId}/scanConfigs/{scanConfigId}'. The ScanConfig IDs are\ngenerated by the system.",
                                            "type": "string"
                                        },
                                        "schedule": {
                                            "description": "The schedule of the ScanConfig.",
                                            "properties": {
                                                "intervalDurationDays": {
                                                    "description": "Required.\nThe duration of time between executions in days.",
                                                    "format": "int32",
                                                    "type": "integer"
                                                },
                                                "scheduleTime": {
                                                    "description": "A timestamp indicates when the next run will be scheduled. The value is\nrefreshed by the server after each run. If unspecified, it will default\nto current server time, which means the scan will be scheduled to start\nimmediately.",
                                                    "format": "google-datetime",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "startingUrls": {
                                            "description": "Required.\nThe starting URLs from which the scanner finds site pages.",
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "targetPlatforms": {
                                            "description": "Set of Cloud Platforms targeted by the scan. If empty, APP_ENGINE will be\nused as a default.",
                                            "items": {
                                                "enum": [
                                                    "TARGET_PLATFORM_UNSPECIFIED",
                                                    "APP_ENGINE",
                                                    "COMPUTE"
                                                ],
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "userAgent": {
                                            "description": "The user agent used during scanning.",
                                            "enum": [
                                                "USER_AGENT_UNSPECIFIED",
                                                "CHROME_LINUX",
                                                "CHROME_ANDROID",
                                                "SAFARI_IPHONE"
                                            ],
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    }
                ],
                "tags": [
                    "projects"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "A ScanConfig resource contains the configurations to launch a scan.\nnext id: 12",
                                "properties": {
                                    "authentication": {
                                        "description": "The authentication configuration. If specified, service will use the\nauthentication configuration during scanning.",
                                        "properties": {
                                            "customAccount": {
                                                "description": "Authentication using a custom account.",
                                                "properties": {
                                                    "loginUrl": {
                                                        "description": "Required.\nThe login form URL of the website.",
                                                        "type": "string"
                                                    },
                                                    "password": {
                                                        "description": "Input only.\nRequired.\nThe password of the custom account. The credential is stored encrypted\nand not returned in any response nor included in audit logs.",
                                                        "type": "string"
                                                    },
                                                    "username": {
                                                        "description": "Required.\nThe user name of the custom account.",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "googleAccount": {
                                                "description": "Authentication using a Google account.",
                                                "properties": {
                                                    "password": {
                                                        "description": "Input only.\nRequired.\nThe password of the Google account. The credential is stored encrypted\nand not returned in any response nor included in audit logs.",
                                                        "type": "string"
                                                    },
                                                    "username": {
                                                        "description": "Required.\nThe user name of the Google account.",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "blacklistPatterns": {
                                        "description": "The blacklist URL patterns as described in\nhttps://cloud.google.com/security-scanner/docs/excluded-urls",
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "displayName": {
                                        "description": "Required.\nThe user provided display name of the ScanConfig.",
                                        "type": "string"
                                    },
                                    "latestRun": {
                                        "description": "Latest ScanRun if available.",
                                        "properties": {
                                            "endTime": {
                                                "description": "Output only.\nThe time at which the ScanRun reached termination state - that the ScanRun\nis either finished or stopped by user.",
                                                "format": "google-datetime",
                                                "type": "string"
                                            },
                                            "executionState": {
                                                "description": "Output only.\nThe execution state of the ScanRun.",
                                                "enum": [
                                                    "EXECUTION_STATE_UNSPECIFIED",
                                                    "QUEUED",
                                                    "SCANNING",
                                                    "FINISHED"
                                                ],
                                                "type": "string"
                                            },
                                            "hasVulnerabilities": {
                                                "description": "Output only.\nWhether the scan run has found any vulnerabilities.",
                                                "type": "boolean"
                                            },
                                            "name": {
                                                "description": "Output only.\nThe resource name of the ScanRun. The name follows the format of\n'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'.\nThe ScanRun IDs are generated by the system.",
                                                "type": "string"
                                            },
                                            "progressPercent": {
                                                "description": "Output only.\nThe percentage of total completion ranging from 0 to 100.\nIf the scan is in queue, the value is 0.\nIf the scan is running, the value ranges from 0 to 100.\nIf the scan is finished, the value is 100.",
                                                "format": "int32",
                                                "type": "integer"
                                            },
                                            "resultState": {
                                                "description": "Output only.\nThe result state of the ScanRun. This field is only available after the\nexecution state reaches \"FINISHED\".",
                                                "enum": [
                                                    "RESULT_STATE_UNSPECIFIED",
                                                    "SUCCESS",
                                                    "ERROR",
                                                    "KILLED"
                                                ],
                                                "type": "string"
                                            },
                                            "startTime": {
                                                "description": "Output only.\nThe time at which the ScanRun started.",
                                                "format": "google-datetime",
                                                "type": "string"
                                            },
                                            "urlsCrawledCount": {
                                                "description": "Output only.\nThe number of URLs crawled during this ScanRun. If the scan is in progress,\nthe value represents the number of URLs crawled up to now.",
                                                "format": "int64",
                                                "type": "string"
                                            },
                                            "urlsTestedCount": {
                                                "description": "Output only.\nThe number of URLs tested during this ScanRun. If the scan is in progress,\nthe value represents the number of URLs tested up to now. The number of\nURLs tested is usually larger than the number URLS crawled because\ntypically a crawled URL is tested with multiple test payloads.",
                                                "format": "int64",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "maxQps": {
                                        "description": "The maximum QPS during scanning. A valid value ranges from 5 to 20\ninclusively. If the field is unspecified or its value is set 0, server will\ndefault to 15. Other values outside of [5, 20] range will be rejected with\nINVALID_ARGUMENT error.",
                                        "format": "int32",
                                        "type": "integer"
                                    },
                                    "name": {
                                        "description": "The resource name of the ScanConfig. The name follows the format of\n'projects/{projectId}/scanConfigs/{scanConfigId}'. The ScanConfig IDs are\ngenerated by the system.",
                                        "type": "string"
                                    },
                                    "schedule": {
                                        "description": "The schedule of the ScanConfig.",
                                        "properties": {
                                            "intervalDurationDays": {
                                                "description": "Required.\nThe duration of time between executions in days.",
                                                "format": "int32",
                                                "type": "integer"
                                            },
                                            "scheduleTime": {
                                                "description": "A timestamp indicates when the next run will be scheduled. The value is\nrefreshed by the server after each run. If unspecified, it will default\nto current server time, which means the scan will be scheduled to start\nimmediately.",
                                                "format": "google-datetime",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "startingUrls": {
                                        "description": "Required.\nThe starting URLs from which the scanner finds site pages.",
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "targetPlatforms": {
                                        "description": "Set of Cloud Platforms targeted by the scan. If empty, APP_ENGINE will be\nused as a default.",
                                        "items": {
                                            "enum": [
                                                "TARGET_PLATFORM_UNSPECIFIED",
                                                "APP_ENGINE",
                                                "COMPUTE"
                                            ],
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "userAgent": {
                                        "description": "The user agent used during scanning.",
                                        "enum": [
                                            "USER_AGENT_UNSPECIFIED",
                                            "CHROME_LINUX",
                                            "CHROME_ANDROID",
                                            "SAFARI_IPHONE"
                                        ],
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                }
            }
        },
        "/v1alpha/{name}:start": {
            "parameters": [
                {
                    "description": "V1 error format.",
                    "in": "query",
                    "name": "$.xgafv",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "1",
                            "2"
                        ]
                    }
                },
                {
                    "description": "OAuth access token.",
                    "in": "query",
                    "name": "access_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Data format for response.",
                    "in": "query",
                    "name": "alt",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "json",
                            "media",
                            "proto"
                        ],
                        "default": "json"
                    }
                },
                {
                    "description": "JSONP",
                    "in": "query",
                    "name": "callback",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Selector specifying which fields to include in a partial response.",
                    "in": "query",
                    "name": "fields",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
                    "in": "query",
                    "name": "key",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "OAuth 2.0 token for the current user.",
                    "in": "query",
                    "name": "oauth_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Returns response with indentations and line breaks.",
                    "in": "query",
                    "name": "prettyPrint",
                    "schema": {
                        "type": "boolean",
                        "default": true
                    }
                },
                {
                    "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
                    "in": "query",
                    "name": "quotaUser",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
                    "in": "query",
                    "name": "uploadType",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
                    "in": "query",
                    "name": "upload_protocol",
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Start a ScanRun according to the given ScanConfig.",
                "operationId": "websecurityscanner.projects.scanConfigs.start",
                "parameters": [
                    {
                        "description": "Required.\nThe resource name of the ScanConfig to be used. The name follows the\nformat of 'projects/{projectId}/scanConfigs/{scanConfigId}'.",
                        "in": "path",
                        "name": "name",
                        "required": true,
                        "x-reservedExpansion": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "A ScanRun is a output-only resource representing an actual run of the scan.",
                                    "properties": {
                                        "endTime": {
                                            "description": "Output only.\nThe time at which the ScanRun reached termination state - that the ScanRun\nis either finished or stopped by user.",
                                            "format": "google-datetime",
                                            "type": "string"
                                        },
                                        "executionState": {
                                            "description": "Output only.\nThe execution state of the ScanRun.",
                                            "enum": [
                                                "EXECUTION_STATE_UNSPECIFIED",
                                                "QUEUED",
                                                "SCANNING",
                                                "FINISHED"
                                            ],
                                            "type": "string"
                                        },
                                        "hasVulnerabilities": {
                                            "description": "Output only.\nWhether the scan run has found any vulnerabilities.",
                                            "type": "boolean"
                                        },
                                        "name": {
                                            "description": "Output only.\nThe resource name of the ScanRun. The name follows the format of\n'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'.\nThe ScanRun IDs are generated by the system.",
                                            "type": "string"
                                        },
                                        "progressPercent": {
                                            "description": "Output only.\nThe percentage of total completion ranging from 0 to 100.\nIf the scan is in queue, the value is 0.\nIf the scan is running, the value ranges from 0 to 100.\nIf the scan is finished, the value is 100.",
                                            "format": "int32",
                                            "type": "integer"
                                        },
                                        "resultState": {
                                            "description": "Output only.\nThe result state of the ScanRun. This field is only available after the\nexecution state reaches \"FINISHED\".",
                                            "enum": [
                                                "RESULT_STATE_UNSPECIFIED",
                                                "SUCCESS",
                                                "ERROR",
                                                "KILLED"
                                            ],
                                            "type": "string"
                                        },
                                        "startTime": {
                                            "description": "Output only.\nThe time at which the ScanRun started.",
                                            "format": "google-datetime",
                                            "type": "string"
                                        },
                                        "urlsCrawledCount": {
                                            "description": "Output only.\nThe number of URLs crawled during this ScanRun. If the scan is in progress,\nthe value represents the number of URLs crawled up to now.",
                                            "format": "int64",
                                            "type": "string"
                                        },
                                        "urlsTestedCount": {
                                            "description": "Output only.\nThe number of URLs tested during this ScanRun. If the scan is in progress,\nthe value represents the number of URLs tested up to now. The number of\nURLs tested is usually larger than the number URLS crawled because\ntypically a crawled URL is tested with multiple test payloads.",
                                            "format": "int64",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    }
                ],
                "tags": [
                    "projects"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Request for the `StartScanRun` method.",
                                "properties": {},
                                "type": "object"
                            }
                        }
                    }
                }
            }
        },
        "/v1alpha/{name}:stop": {
            "parameters": [
                {
                    "description": "V1 error format.",
                    "in": "query",
                    "name": "$.xgafv",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "1",
                            "2"
                        ]
                    }
                },
                {
                    "description": "OAuth access token.",
                    "in": "query",
                    "name": "access_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Data format for response.",
                    "in": "query",
                    "name": "alt",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "json",
                            "media",
                            "proto"
                        ],
                        "default": "json"
                    }
                },
                {
                    "description": "JSONP",
                    "in": "query",
                    "name": "callback",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Selector specifying which fields to include in a partial response.",
                    "in": "query",
                    "name": "fields",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
                    "in": "query",
                    "name": "key",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "OAuth 2.0 token for the current user.",
                    "in": "query",
                    "name": "oauth_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Returns response with indentations and line breaks.",
                    "in": "query",
                    "name": "prettyPrint",
                    "schema": {
                        "type": "boolean",
                        "default": true
                    }
                },
                {
                    "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
                    "in": "query",
                    "name": "quotaUser",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
                    "in": "query",
                    "name": "uploadType",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
                    "in": "query",
                    "name": "upload_protocol",
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Stops a ScanRun. The stopped ScanRun is returned.",
                "operationId": "websecurityscanner.projects.scanConfigs.scanRuns.stop",
                "parameters": [
                    {
                        "description": "Required.\nThe resource name of the ScanRun to be stopped. The name follows the\nformat of\n'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'.",
                        "in": "path",
                        "name": "name",
                        "required": true,
                        "x-reservedExpansion": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "A ScanRun is a output-only resource representing an actual run of the scan.",
                                    "properties": {
                                        "endTime": {
                                            "description": "Output only.\nThe time at which the ScanRun reached termination state - that the ScanRun\nis either finished or stopped by user.",
                                            "format": "google-datetime",
                                            "type": "string"
                                        },
                                        "executionState": {
                                            "description": "Output only.\nThe execution state of the ScanRun.",
                                            "enum": [
                                                "EXECUTION_STATE_UNSPECIFIED",
                                                "QUEUED",
                                                "SCANNING",
                                                "FINISHED"
                                            ],
                                            "type": "string"
                                        },
                                        "hasVulnerabilities": {
                                            "description": "Output only.\nWhether the scan run has found any vulnerabilities.",
                                            "type": "boolean"
                                        },
                                        "name": {
                                            "description": "Output only.\nThe resource name of the ScanRun. The name follows the format of\n'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'.\nThe ScanRun IDs are generated by the system.",
                                            "type": "string"
                                        },
                                        "progressPercent": {
                                            "description": "Output only.\nThe percentage of total completion ranging from 0 to 100.\nIf the scan is in queue, the value is 0.\nIf the scan is running, the value ranges from 0 to 100.\nIf the scan is finished, the value is 100.",
                                            "format": "int32",
                                            "type": "integer"
                                        },
                                        "resultState": {
                                            "description": "Output only.\nThe result state of the ScanRun. This field is only available after the\nexecution state reaches \"FINISHED\".",
                                            "enum": [
                                                "RESULT_STATE_UNSPECIFIED",
                                                "SUCCESS",
                                                "ERROR",
                                                "KILLED"
                                            ],
                                            "type": "string"
                                        },
                                        "startTime": {
                                            "description": "Output only.\nThe time at which the ScanRun started.",
                                            "format": "google-datetime",
                                            "type": "string"
                                        },
                                        "urlsCrawledCount": {
                                            "description": "Output only.\nThe number of URLs crawled during this ScanRun. If the scan is in progress,\nthe value represents the number of URLs crawled up to now.",
                                            "format": "int64",
                                            "type": "string"
                                        },
                                        "urlsTestedCount": {
                                            "description": "Output only.\nThe number of URLs tested during this ScanRun. If the scan is in progress,\nthe value represents the number of URLs tested up to now. The number of\nURLs tested is usually larger than the number URLS crawled because\ntypically a crawled URL is tested with multiple test payloads.",
                                            "format": "int64",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    }
                ],
                "tags": [
                    "projects"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Request for the `StopScanRun` method.",
                                "properties": {},
                                "type": "object"
                            }
                        }
                    }
                }
            }
        },
        "/v1alpha/{parent}/crawledUrls": {
            "get": {
                "description": "List CrawledUrls under a given ScanRun.",
                "operationId": "websecurityscanner.projects.scanConfigs.scanRuns.crawledUrls.list",
                "parameters": [
                    {
                        "description": "The maximum number of CrawledUrls to return, can be limited by server.\nIf not specified or not positive, the implementation will select a\nreasonable value.",
                        "in": "query",
                        "name": "pageSize",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "description": "A token identifying a page of results to be returned. This should be a\n`next_page_token` value returned from a previous List request.\nIf unspecified, the first page of results is returned.",
                        "in": "query",
                        "name": "pageToken",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Required.\nThe parent resource name, which should be a scan run resource name in the\nformat\n'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'.",
                        "in": "path",
                        "name": "parent",
                        "required": true,
                        "x-reservedExpansion": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "Response for the `ListCrawledUrls` method.",
                                    "properties": {
                                        "crawledUrls": {
                                            "description": "The list of CrawledUrls returned.",
                                            "items": {
                                                "description": "A CrawledUrl resource represents a URL that was crawled during a ScanRun. Web\nSecurity Scanner Service crawls the web applications, following all links\nwithin the scope of sites, to find the URLs to test against.",
                                                "properties": {
                                                    "body": {
                                                        "description": "Output only.\nThe body of the request that was used to visit the URL.",
                                                        "type": "string"
                                                    },
                                                    "httpMethod": {
                                                        "description": "Output only.\nThe http method of the request that was used to visit the URL, in\nuppercase.",
                                                        "type": "string"
                                                    },
                                                    "url": {
                                                        "description": "Output only.\nThe URL that was crawled.",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "nextPageToken": {
                                            "description": "Token to retrieve the next page of results, or empty if there are no\nmore results in the list.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    }
                ],
                "tags": [
                    "projects"
                ]
            },
            "parameters": [
                {
                    "description": "V1 error format.",
                    "in": "query",
                    "name": "$.xgafv",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "1",
                            "2"
                        ]
                    }
                },
                {
                    "description": "OAuth access token.",
                    "in": "query",
                    "name": "access_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Data format for response.",
                    "in": "query",
                    "name": "alt",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "json",
                            "media",
                            "proto"
                        ],
                        "default": "json"
                    }
                },
                {
                    "description": "JSONP",
                    "in": "query",
                    "name": "callback",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Selector specifying which fields to include in a partial response.",
                    "in": "query",
                    "name": "fields",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
                    "in": "query",
                    "name": "key",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "OAuth 2.0 token for the current user.",
                    "in": "query",
                    "name": "oauth_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Returns response with indentations and line breaks.",
                    "in": "query",
                    "name": "prettyPrint",
                    "schema": {
                        "type": "boolean",
                        "default": true
                    }
                },
                {
                    "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
                    "in": "query",
                    "name": "quotaUser",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
                    "in": "query",
                    "name": "uploadType",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
                    "in": "query",
                    "name": "upload_protocol",
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/v1alpha/{parent}/findingTypeStats": {
            "get": {
                "description": "List all FindingTypeStats under a given ScanRun.",
                "operationId": "websecurityscanner.projects.scanConfigs.scanRuns.findingTypeStats.list",
                "parameters": [
                    {
                        "description": "Required.\nThe parent resource name, which should be a scan run resource name in the\nformat\n'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'.",
                        "in": "path",
                        "name": "parent",
                        "required": true,
                        "x-reservedExpansion": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "Response for the `ListFindingTypeStats` method.",
                                    "properties": {
                                        "findingTypeStats": {
                                            "description": "The list of FindingTypeStats returned.",
                                            "items": {
                                                "description": "A FindingTypeStats resource represents stats regarding a specific FindingType\nof Findings under a given ScanRun.",
                                                "properties": {
                                                    "findingCount": {
                                                        "description": "Output only.\nThe count of findings belonging to this finding type.",
                                                        "format": "int32",
                                                        "type": "integer"
                                                    },
                                                    "findingType": {
                                                        "description": "Output only.\nThe finding type associated with the stats.",
                                                        "enum": [
                                                            "FINDING_TYPE_UNSPECIFIED",
                                                            "MIXED_CONTENT",
                                                            "OUTDATED_LIBRARY",
                                                            "ROSETTA_FLASH",
                                                            "XSS_CALLBACK",
                                                            "XSS_ERROR",
                                                            "CLEAR_TEXT_PASSWORD",
                                                            "INVALID_CONTENT_TYPE",
                                                            "XSS_ANGULAR_CALLBACK",
                                                            "INVALID_HEADER",
                                                            "MISSPELLED_SECURITY_HEADER_NAME",
                                                            "MISMATCHING_SECURITY_HEADER_VALUES"
                                                        ],
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    }
                ],
                "tags": [
                    "projects"
                ]
            },
            "parameters": [
                {
                    "description": "V1 error format.",
                    "in": "query",
                    "name": "$.xgafv",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "1",
                            "2"
                        ]
                    }
                },
                {
                    "description": "OAuth access token.",
                    "in": "query",
                    "name": "access_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Data format for response.",
                    "in": "query",
                    "name": "alt",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "json",
                            "media",
                            "proto"
                        ],
                        "default": "json"
                    }
                },
                {
                    "description": "JSONP",
                    "in": "query",
                    "name": "callback",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Selector specifying which fields to include in a partial response.",
                    "in": "query",
                    "name": "fields",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
                    "in": "query",
                    "name": "key",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "OAuth 2.0 token for the current user.",
                    "in": "query",
                    "name": "oauth_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Returns response with indentations and line breaks.",
                    "in": "query",
                    "name": "prettyPrint",
                    "schema": {
                        "type": "boolean",
                        "default": true
                    }
                },
                {
                    "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
                    "in": "query",
                    "name": "quotaUser",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
                    "in": "query",
                    "name": "uploadType",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
                    "in": "query",
                    "name": "upload_protocol",
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/v1alpha/{parent}/findings": {
            "get": {
                "description": "List Findings under a given ScanRun.",
                "operationId": "websecurityscanner.projects.scanConfigs.scanRuns.findings.list",
                "parameters": [
                    {
                        "description": "The filter expression. The expression must be in the format: <field>\n<operator> <value>.\nSupported field: 'finding_type'.\nSupported operator: '='.",
                        "in": "query",
                        "name": "filter",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The maximum number of Findings to return, can be limited by server.\nIf not specified or not positive, the implementation will select a\nreasonable value.",
                        "in": "query",
                        "name": "pageSize",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "description": "A token identifying a page of results to be returned. This should be a\n`next_page_token` value returned from a previous List request.\nIf unspecified, the first page of results is returned.",
                        "in": "query",
                        "name": "pageToken",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Required.\nThe parent resource name, which should be a scan run resource name in the\nformat\n'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'.",
                        "in": "path",
                        "name": "parent",
                        "required": true,
                        "x-reservedExpansion": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "Response for the `ListFindings` method.",
                                    "properties": {
                                        "findings": {
                                            "description": "The list of Findings returned.",
                                            "items": {
                                                "description": "A Finding resource represents a vulnerability instance identified during a\nScanRun.",
                                                "properties": {
                                                    "body": {
                                                        "description": "Output only.\nThe body of the request that triggered the vulnerability.",
                                                        "type": "string"
                                                    },
                                                    "description": {
                                                        "description": "Output only.\nThe description of the vulnerability.",
                                                        "type": "string"
                                                    },
                                                    "finalUrl": {
                                                        "description": "Output only.\nThe URL where the browser lands when the vulnerability is detected.",
                                                        "type": "string"
                                                    },
                                                    "findingType": {
                                                        "description": "Output only.\nThe type of the Finding.",
                                                        "enum": [
                                                            "FINDING_TYPE_UNSPECIFIED",
                                                            "MIXED_CONTENT",
                                                            "OUTDATED_LIBRARY",
                                                            "ROSETTA_FLASH",
                                                            "XSS_CALLBACK",
                                                            "XSS_ERROR",
                                                            "CLEAR_TEXT_PASSWORD",
                                                            "INVALID_CONTENT_TYPE",
                                                            "XSS_ANGULAR_CALLBACK",
                                                            "INVALID_HEADER",
                                                            "MISSPELLED_SECURITY_HEADER_NAME",
                                                            "MISMATCHING_SECURITY_HEADER_VALUES"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "frameUrl": {
                                                        "description": "Output only.\nIf the vulnerability was originated from nested IFrame, the immediate\nparent IFrame is reported.",
                                                        "type": "string"
                                                    },
                                                    "fuzzedUrl": {
                                                        "description": "Output only.\nThe URL produced by the server-side fuzzer and used in the request that\ntriggered the vulnerability.",
                                                        "type": "string"
                                                    },
                                                    "httpMethod": {
                                                        "description": "Output only.\nThe http method of the request that triggered the vulnerability, in\nuppercase.",
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "description": "Output only.\nThe resource name of the Finding. The name follows the format of\n'projects/{projectId}/scanConfigs/{scanConfigId}/scanruns/{scanRunId}/findings/{findingId}'.\nThe finding IDs are generated by the system.",
                                                        "type": "string"
                                                    },
                                                    "outdatedLibrary": {
                                                        "description": "Output only.\nAn addon containing information about outdated libraries.",
                                                        "properties": {
                                                            "learnMoreUrls": {
                                                                "description": "URLs to learn more information about the vulnerabilities in the library.",
                                                                "items": {
                                                                    "type": "string"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "libraryName": {
                                                                "description": "The name of the outdated library.",
                                                                "type": "string"
                                                            },
                                                            "version": {
                                                                "description": "The version number.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "reproductionUrl": {
                                                        "description": "Output only.\nThe URL containing human-readable payload that user can leverage to\nreproduce the vulnerability.",
                                                        "type": "string"
                                                    },
                                                    "trackingId": {
                                                        "description": "Output only.\nThe tracking ID uniquely identifies a vulnerability instance across\nmultiple ScanRuns.",
                                                        "type": "string"
                                                    },
                                                    "violatingResource": {
                                                        "description": "Output only.\nAn addon containing detailed information regarding any resource causing the\nvulnerability such as JavaScript sources, image, audio files, etc.",
                                                        "properties": {
                                                            "contentType": {
                                                                "description": "The MIME type of this resource.",
                                                                "type": "string"
                                                            },
                                                            "resourceUrl": {
                                                                "description": "URL of this violating resource.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "vulnerableHeaders": {
                                                        "description": "Output only.\nAn addon containing information about vulnerable or missing HTTP headers.",
                                                        "properties": {
                                                            "headers": {
                                                                "description": "List of vulnerable headers.",
                                                                "items": {
                                                                    "description": "Describes a HTTP Header.",
                                                                    "properties": {
                                                                        "name": {
                                                                            "description": "Header name.",
                                                                            "type": "string"
                                                                        },
                                                                        "value": {
                                                                            "description": "Header value.",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "missingHeaders": {
                                                                "description": "List of missing headers.",
                                                                "items": {
                                                                    "description": "Describes a HTTP Header.",
                                                                    "properties": {
                                                                        "name": {
                                                                            "description": "Header name.",
                                                                            "type": "string"
[...]
